<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecaray.ecms.dao.mapper.sys.SysNodeAttrMapper" >
  <resultMap id="BaseResultMap" type="com.ecaray.ecms.entity.sys.SysNodeAttr" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="node_id" property="nodeId" jdbcType="VARCHAR" />
    <result column="ctm_attr" property="ctmAttr" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, node_id, ctm_attr, user_id, add_user, add_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_node_attr
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_node_attr
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecaray.ecms.entity.sys.SysNodeAttr" >
    insert into sys_node_attr (id, node_id, ctm_attr, 
      user_id, add_user, add_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{ctmAttr,jdbcType=CHAR}, 
      #{userId,jdbcType=VARCHAR}, #{addUser,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecaray.ecms.entity.sys.SysNodeAttr" >
    insert into sys_node_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
      <if test="ctmAttr != null" >
        ctm_attr,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="ctmAttr != null" >
        #{ctmAttr,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecaray.ecms.entity.sys.SysNodeAttr" >
    update sys_node_attr
    <set >
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="ctmAttr != null" >
        ctm_attr = #{ctmAttr,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecaray.ecms.entity.sys.SysNodeAttr" >
    update sys_node_attr
    set node_id = #{nodeId,jdbcType=VARCHAR},
      ctm_attr = #{ctmAttr,jdbcType=CHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      add_user = #{addUser,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
 <!--****************************************************** -->
  <select id="selectNodeListByUserId" parameterType="java.lang.String" resultType="java.lang.String"> 
  	select node_id from sys_node_attr where user_id = #{userId}
  </select>
  <select id="selectNodeAttrListByAttr" parameterType="java.lang.String" resultMap="BaseResultMap"> 
 	select <include refid="Base_Column_List" /> from sys_node_attr where  ctm_attr = #{attr} order by add_time desc
  </select>
   <select id="selectNodeAttrList" parameterType="java.lang.String" resultMap="BaseResultMap"> 
 	select <include refid="Base_Column_List" /> from sys_node_attr where  ctm_attr = #{attr} and node_id = #{nodeId}
	</select>
  <select id="selectNodesHandlerIdList" parameterType="java.lang.String" resultType="java.lang.String"> 
 	select node_id from  sys_node_attr where user_id = #{userId}
  </select>
  <delete id="deleteAllUser" parameterType="java.lang.String">
  	delete * from sys_node_attr where nodeId = #{nodeId} and ctm_attr = #{attr}
  </delete>
  <select id="selectAttrNodeUserList" parameterType="java.lang.String" resultType="java.lang.String">
  	select user_id from sys_node_attr where node_id = #{nodeId} and ctm_attr = #{attr}
  </select>
</mapper>