<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecaray.ecms.dao.mapper.ctm.CtmFilesMapper" >
  <resultMap id="BaseResultMap" type="com.ecaray.ecms.entity.ctm.CtmFiles" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="isvalid" property="isvalid" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="add_user" property="addUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ref_id, name, size, isvalid, add_time, update_time, add_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ctm_files
    where isvalid = 1 and id = #{id,jdbcType=VARCHAR}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update ctm_files set isvalid = 0 
    where id = #{id}
  </update>
  <insert id="insert" parameterType="com.ecaray.ecms.entity.ctm.CtmFiles" >
    insert into ctm_files (id, ref_id, name, 
      size, isvalid, add_time, 
      update_time, add_user)
    values (#{id,jdbcType=VARCHAR}, #{refId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{isvalid,jdbcType=INTEGER}, #{addTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{addUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecaray.ecms.entity.ctm.CtmFiles" >
    insert into ctm_files
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="refId != null" >
        ref_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="isvalid != null" >
        isvalid,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="addUser != null" >
        add_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="addUser != null" >
        #{addUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecaray.ecms.entity.ctm.CtmFiles" >
    update ctm_files
    <set >
      <if test="refId != null" >
        ref_id = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null" >
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="addUser != null" >
        add_user = #{addUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecaray.ecms.entity.ctm.CtmFiles" >
    update ctm_files
    set ref_id = #{refId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      add_user = #{addUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteFilesListByRefId" parameterType="java.util.List">
  	delete from  ctm_files  where ref_id in 
  	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
  </delete>
  <select id="selectFileListByRefId" parameterType="java.util.List" resultMap="BaseResultMap">
	select <include refid="Base_Column_List"></include> from ctm_files where isvalid = 1 and ref_id in
	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
  </select>
</mapper>